<div class="container">

  <button type="button" class="btn btn-primary" (click)="addMode = !addMode" *ngIf="!addMode">Add Claim</button>


  <div *ngIf="addMode">
    <form [formGroup]="claimForm">
      <div class="form-group row">
        <label for="patient" class="col-sm-2 col-form-label">Patient</label>
        <div class="col-sm-6">
          <select type="text" class="form-control" id="patient" formControlName="patient">
            <option selected disabled>Select patient</option>
            <option *ngFor="let patient of patients | async; let i = index">{{patient.firstName}} {{patient.lastName}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="code" class="col-sm-2 col-form-label">ICD Code</label>
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary" *ngIf="!addCodeMode" (click)="addCodeMode = !addCodeMode">Add ICD Code</button>

          <select type="text" class="form-control" *ngIf="addCodeMode" id="code" (change)="addCode($event)">
           <option selected disabled>Select ICD Code</option>
            <option *ngFor="let code of codes | async; let i = index" [value]="code.code">{{code.code}}, {{code.desc}}</option>
          </select>

          
        </div>
      </div>

      <div class="form-group row" *ngIf="codeArray.length > 0">
        <div class="col-sm-2 col-form-label"></div>
        <div class="col-sm-6">
          <button type="button" class="code-button btn btn-secondary claim__buttons" *ngFor="let code of codeArray; let i = index">{{code}}<span class="claim__buttons-delete" (click)="deleteCode(i)" disabled>X</span>
          </button>
        </div>
      </div>


      <div class="form-group row">
          <label for="code" class="col-sm-2 col-form-label">ICD Code</label>
          <div class="col-sm-6">
              <button type="button" class="btn btn-primary" *ngIf="!addProcedureMode" (click)="addProcedureMode = !addProcedureMode">Add Procedure</button>
  
            <select type="text" class="form-control" *ngIf="addProcedureMode" id="code" (change)="addProcedure($event)">
             <option selected disabled>Select Procedure</option>
              <option *ngFor="let procedure of procedures | async; let i = index" [value]="procedure.count">{{procedure.name}}</option>
            </select>
  
            
          </div>
        </div>
  
        <div class="form-group row" *ngIf="procedureArray.length > 0">
          <div class="col-sm-2 col-form-label"></div>
          <div class="col-sm-6">
            <button type="button" class="code-button btn btn-secondary claim__buttons" *ngFor="let procedure of procedureArray; let i = index">{{procedure}}<span class="claim__buttons-delete" (click)="deleteProcedure(i)" disabled>X</span>
            </button>
          </div>
        </div>
  


      <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
      <button type="button" class="btn btn-primary" (click)="addMode = !addMode">Cancel</button>


    </form>
  </div>

  <div class="row">

    <div class="col-sm">
      <table class="table table-hover">
        <thead>
        <tr class="bg-secondary text-light">
          <th scope="col">#</th>
          <th scope="col">Patient</th>
          <th scope="col">ICD codes</th>
          <th scope="col">Procedures</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let claim of claims; let i = index">
          <th scope="row">{{i}}</th>
          <td>
              {{claim.patient}}
          </td>
          <td>
            <span class="claim__code-item" *ngFor="let icdCode of claim.icdCodes">{{icdCode}}</span>
          </td>
          <td>
            <span class="claim__code-item" *ngFor="let procedure of claim.procedures">{{procedure}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

